@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h3 {
        @apply font-headers;
    }
    body {
        @apply font-content;
    }
}

#content::-webkit-scrollbar {
    display: none;
}


body {
    overflow: hidden;
}





/* body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
} */